In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from pathlib import Path

cur_path = Path('.').resolve()
cur_path

WindowsPath('E:/VSCodeProjects/FinanceDashboard/pricevolume')

dr = pd.date_range(start='20210101', end='20211231')
dr

In [10]:
import pandas as pd

kosdaq_df = pd.read_pickle(cur_path / "cache" / "KSQ_20150101_to_20211031_lv1_df.pkl")
kospi_df = pd.read_pickle(cur_path / "cache" / "STK_20150101_to_20211031_lv1_df.pkl")

In [11]:
kospi_df

,ISU_SRT_CD,ISU_ABBRV,MKT_NM,SECT_TP_NM,TDD_CLSPRC,FLUC_TP_CD,CMPPREVDD_PRC,FLUC_RT,TDD_OPNPRC,TDD_HGPRC,TDD_LWPRC,ACC_TRDVOL,ACC_TRDVAL,MKTCAP,LIST_SHRS,MKT_ID,trdDd
0,068400,AJ렌터카,KOSPI,,-,3,-,-,-,-,-,-,-,-,"22,146,300",STK,20150101
1,006840,AK홀딩스,KOSPI,,-,3,-,-,-,-,-,-,-,-,"13,247,561",STK,20150101
2,027410,BGF리테일,KOSPI,,-,3,-,-,-,-,-,-,-,-,"24,640,080",STK,20150101
3,138930,BS금융지주,KOSPI,,-,3,-,-,-,-,-,-,-,-,"234,379,899",STK,20150101
4,001460,BYC,KOSPI,,-,3,-,-,-,-,-,-,-,-,"624,615",STK,20150101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2244856,069260,휴켐스,KOSPI,,-,3,-,-,-,-,-,-,-,-,"40,878,588",STK,20211031
2244857,000540,흥국화재,KOSPI,,-,3,-,-,-,-,-,-,-,-,"64,242,645",STK,20211031
2244858,000547,흥국화재2우B,KOSPI,,-,3,-,-,-,-,-,-,-,-,"153,600",STK,20211031
2244859,000545,흥국화재우,KOSPI,,-,3,-,-,-,-,-,-,-,-,"768,000",STK,20211031
2244860,003280,흥아해운,KOSPI,,-,3,-,-,-,-,-,-,-,-,"240,424,899",STK,20211031

In [15]:
kospi_df.iloc[8000]

ISU_SRT_CD           001755
ISU_ABBRV             한양증권우
MKT_NM                KOSPI
SECT_TP_NM
TDD_CLSPRC             6600
FLUC_TP_CD                2
CMPPREVDD_PRC           -90
FLUC_RT               -1.35
TDD_OPNPRC             6500
TDD_HGPRC              6600
TDD_LWPRC              6500
ACC_TRDVOL               21
ACC_TRDVAL           136600
MKTCAP           3465000000
LIST_SHRS            525000
MKT_ID                  STK
trdDd              20150109
Name: 8000, dtype: object

In [8]:
kospi_df.columns

Index(['ISU_SRT_CD', 'ISU_ABBRV', 'MKT_NM', 'SECT_TP_NM', 'TDD_CLSPRC',
       'FLUC_TP_CD', 'CMPPREVDD_PRC', 'FLUC_RT', 'TDD_OPNPRC', 'TDD_HGPRC',
       'TDD_LWPRC', 'ACC_TRDVOL', 'ACC_TRDVAL', 'MKTCAP', 'LIST_SHRS',
       'MKT_ID', 'trdDd'],
      dtype='object')

In [14]:
kospi_df.iloc[:, 4:] = kospi_df.iloc[:, 4:].replace(regex=",", value="")

In [7]:
kospi_df['MKTCAP'] = kospi_df['MKTCAP'].replace("-", np.nan)

In [69]:
kospi_df['MKTCAP'] = kospi_df['MKTCAP'].astype('float')

In [74]:
trdDd_df = kospi_df.groupby(by='trdDd')['MKTCAP'].sum(min_count=1).isnull()
trdDd_df

trdDd
20150101     True
20150102    False
20150103     True
20150104     True
20150105    False
            ...
20211027    False
20211028    False
20211029    False
20211030     True
20211031     True
Name: MKTCAP, Length: 2496, dtype: bool

In [76]:
trdDd_df.index

Int64Index([20150101, 20150102, 20150103, 20150104, 20150105, 20150106,
            20150107, 20150108, 20150109, 20150110,
            ...
            20211022, 20211023, 20211024, 20211025, 20211026, 20211027,
            20211028, 20211029, 20211030, 20211031],
           dtype='int64', name='trdDd', length=2496)

In [99]:
ss = kospi_df.reindex(index=trdDd_df.index, columns=kospi_df["ISU_SRT_CD"].unique(),)
ss

,068400,006840,027410,138930,001460,001465,001040,079160,000120,011150,...,178920,259960,372910,089860,139990,377190,271940,395400,329180,381970
trdDd,,,,,,,,,,,,,,,,,,,,,
20150101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20150102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20150103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20150104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20150105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20211027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20211028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20211029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20211030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20211031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
ss.loc[20150101, '068400'] = 1

In [106]:
# TODO: Use numba

np.array(kospi_df)[7000]

array(['005740', '크라운제과', 'KOSPI', '', '206,000', '1', '1,000', '0.49',
       '205,000', '208,000', '199,000', '12,798', '2,602,134,500',
       303545944000.0, '1,473,524', 'STK', 20150108], dtype=object)

In [ ]:
kospi_df.groupby()

In [87]:
d = pd.DataFrame([
    [1, 'a', 3], 
    [1, 'b', 4], 
    [1, 'c', 5], 
    [2, 'a', 6], 
    [2, 'b', 7], 
    [2, 'c', 8], 
    [3, 'a', 9],
    [3, 'b', 1],
    [3, 'c', 2],
])

In [92]:
d.columns = ["col1", 'col2', 'col3']

In [98]:
dd = d.groupby(by=['col1', 'col2'], as_index=False)['col3']
list(dd)

[((1, 'a'),
     col1 col2  col3
  0     1    a     3),
 ((1, 'b'),
     col1 col2  col3
  1     1    b     4),
 ((1, 'c'),
     col1 col2  col3
  2     1    c     5),
 ((2, 'a'),
     col1 col2  col3
  3     2    a     6),
 ((2, 'b'),
     col1 col2  col3
  4     2    b     7),
 ((2, 'c'),
     col1 col2  col3
  5     2    c     8),
 ((3, 'a'),
     col1 col2  col3
  6     3    a     9),
 ((3, 'b'),
     col1 col2  col3
  7     3    b     1),
 ((3, 'c'),
     col1 col2  col3
  8     3    c     2)]