In [14]:
import numpy as np
import pandas as pd

In [15]:
import FinanceDataReader as fdr

In [16]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
krx_delisting = fdr.StockListing('KRX-DELISTING')
len(krx_delisting)

3308

In [5]:
krx_delisting['SecuGroup'].unique()

array(['신주인수권증서', '주권', '신주인수권증권', '수익증권', '외국주권', '투자회사', '선박투자회사',
       '부동산투자회사', '주식예탁증권'], dtype=object)

In [6]:
krx_delisting['Kind'].unique()

array(['보통주', '신형우선주', '구형우선주', ''], dtype=object)

In [10]:
krx_delisted = krx_delisting[(krx_delisting['Kind'] == '보통주') & (krx_delisting['SecuGroup'] == '주권')]

krx_delisted_symbols = list(zip(krx_delisted.Symbol, krx_delisted.ListingDate.astype(str), krx_delisted.DelistingDate.astype(str)))
len(krx_delisted_symbols)

1406

In [11]:
krx_delisted_symbols[:3]

[('087730', '2008-04-04', '2021-10-08'),
 ('033110', '1997-08-18', '2021-10-08'),
 ('039230', '2000-06-22', '2021-10-06')]

In [19]:
import requests

In [20]:
u = "http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd"

data = {
"bld": "dbms/MDC/STAT/standard/MDCSTAT01501",
"mktId": "ALL",
"trdDd": "20211029",
"share": "1",
"money": "1",
"csvxls_isNo": "false",
}
res = requests.post(u, data=data)

In [21]:
res_json = res.json()
res_json['OutBlock_1'][-1]

{'ISU_SRT_CD': '238490',
 'ISU_ABBRV': '힘스',
 'MKT_NM': 'KOSDAQ',
 'SECT_TP_NM': '우량기업부',
 'TDD_CLSPRC': '9,110',
 'FLUC_TP_CD': '1',
 'CMPPREVDD_PRC': '10',
 'FLUC_RT': '0.11',
 'TDD_OPNPRC': '9,110',
 'TDD_HGPRC': '9,220',
 'TDD_LWPRC': '9,040',
 'ACC_TRDVOL': '43,746',
 'ACC_TRDVAL': '398,330,250',
 'MKTCAP': '103,054,469,960',
 'LIST_SHRS': '11,312,236',
 'MKT_ID': 'KSQ'}

In [22]:
df = pd.DataFrame(res_json['OutBlock_1'])

In [23]:
df

,ISU_SRT_CD,ISU_ABBRV,MKT_NM,SECT_TP_NM,TDD_CLSPRC,FLUC_TP_CD,CMPPREVDD_PRC,FLUC_RT,TDD_OPNPRC,TDD_HGPRC,TDD_LWPRC,ACC_TRDVOL,ACC_TRDVAL,MKTCAP,LIST_SHRS,MKT_ID
0,060310,3S,KOSDAQ,중견기업부,"4,220",2,-30,-0.71,"4,270","4,350","4,180","275,292","1,173,024,270","195,265,784,860","46,271,513",KSQ
1,095570,AJ네트웍스,KOSPI,,"5,590",1,130,2.38,"5,470","5,590","5,460","69,242","381,559,830","261,736,629,050","46,822,295",STK
2,006840,AK홀딩스,KOSPI,,"26,500",2,-550,-2.03,"27,150","27,250","26,250","20,592","545,276,200","351,060,366,500","13,247,561",STK
3,054620,APS홀딩스,KOSDAQ,중견기업부,"17,900",2,-200,-1.10,"18,300","18,300","17,650","47,351","845,147,250","365,056,555,900","20,394,221",KSQ
4,265520,AP시스템,KOSDAQ,우량기업부,"23,700",2,-600,-2.47,"24,600","24,600","23,700","116,183","2,792,840,900","362,169,677,700","15,281,421",KSQ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2589,000547,흥국화재2우B,KOSPI,,"28,200",2,-50,-0.18,"28,250","28,250","28,100",149,"4,200,150","4,331,520,000","153,600",STK
2590,000545,흥국화재우,KOSPI,,"8,590",1,20,0.23,"8,600","8,620","8,540",274,"2,350,380","6,597,120,000","768,000",STK
2591,003280,흥아해운,KOSPI,,"3,795",1,10,0.26,"3,800","3,870","3,720","2,225,468","8,446,071,420","912,412,491,705","240,424,899",STK
2592,037440,희림,KOSDAQ,중견기업부,"6,430",1,60,0.94,"6,380","6,430","6,190","74,456","472,237,370","89,521,514,250","13,922,475",KSQ
2593,238490,힘스,KOSDAQ,우량기업부,"9,110",1,10,0.11,"9,110","9,220","9,040","43,746","398,330,250","103,054,469,960","11,312,236",KSQ

In [24]:
df.loc[:, "trdDd"] = "20211029"

In [25]:
df

,ISU_SRT_CD,ISU_ABBRV,MKT_NM,SECT_TP_NM,TDD_CLSPRC,FLUC_TP_CD,CMPPREVDD_PRC,FLUC_RT,TDD_OPNPRC,TDD_HGPRC,TDD_LWPRC,ACC_TRDVOL,ACC_TRDVAL,MKTCAP,LIST_SHRS,MKT_ID,trdDd
0,060310,3S,KOSDAQ,중견기업부,"4,220",2,-30,-0.71,"4,270","4,350","4,180","275,292","1,173,024,270","195,265,784,860","46,271,513",KSQ,20211029
1,095570,AJ네트웍스,KOSPI,,"5,590",1,130,2.38,"5,470","5,590","5,460","69,242","381,559,830","261,736,629,050","46,822,295",STK,20211029
2,006840,AK홀딩스,KOSPI,,"26,500",2,-550,-2.03,"27,150","27,250","26,250","20,592","545,276,200","351,060,366,500","13,247,561",STK,20211029
3,054620,APS홀딩스,KOSDAQ,중견기업부,"17,900",2,-200,-1.10,"18,300","18,300","17,650","47,351","845,147,250","365,056,555,900","20,394,221",KSQ,20211029
4,265520,AP시스템,KOSDAQ,우량기업부,"23,700",2,-600,-2.47,"24,600","24,600","23,700","116,183","2,792,840,900","362,169,677,700","15,281,421",KSQ,20211029
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2589,000547,흥국화재2우B,KOSPI,,"28,200",2,-50,-0.18,"28,250","28,250","28,100",149,"4,200,150","4,331,520,000","153,600",STK,20211029
2590,000545,흥국화재우,KOSPI,,"8,590",1,20,0.23,"8,600","8,620","8,540",274,"2,350,380","6,597,120,000","768,000",STK,20211029
2591,003280,흥아해운,KOSPI,,"3,795",1,10,0.26,"3,800","3,870","3,720","2,225,468","8,446,071,420","912,412,491,705","240,424,899",STK,20211029
2592,037440,희림,KOSDAQ,중견기업부,"6,430",1,60,0.94,"6,380","6,430","6,190","74,456","472,237,370","89,521,514,250","13,922,475",KSQ,20211029
2593,238490,힘스,KOSDAQ,우량기업부,"9,110",1,10,0.11,"9,110","9,220","9,040","43,746","398,330,250","103,054,469,960","11,312,236",KSQ,20211029

In [28]:
a = "int"
isinstance(1, eval(a))

True

In [31]:
dr = pd.date_range(start='20210101', end='20211231')
dr

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-12-22', '2021-12-23', '2021-12-24', '2021-12-25',
               '2021-12-26', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [34]:
d = dr[0]

In [38]:
d.strftime("%Y%m%d")

'20210101'