# KRX price-volume analysis

## Import libraries

In [7]:
import numpy as np
import pandas as pd

In [8]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
from pathlib import Path

cur_path = Path('.').resolve() / "pricevolume"
cur_path

WindowsPath('E:/VSCodeProjects/FinanceDashboard/pricevolume')

In [13]:
from pricevolume.processor import Preprocessor, Lv2Converter

## Load data

lv1 data load

In [14]:
kosdaq_df = pd.read_pickle(cur_path / "cache" / "KSQ_20150101_to_20211031_lv1_df.pkl")
kospi_df = pd.read_pickle(cur_path / "cache" / "STK_20150101_to_20211031_lv1_df.pkl")

In [15]:
kospi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2244861 entries, 0 to 2244860
Data columns (total 17 columns):
 #   Column         Dtype
---  ------         -----
 0   ISU_SRT_CD     object
 1   ISU_ABBRV      object
 2   MKT_NM         object
 3   SECT_TP_NM     object
 4   TDD_CLSPRC     object
 5   FLUC_TP_CD     object
 6   CMPPREVDD_PRC  object
 7   FLUC_RT        object
 8   TDD_OPNPRC     object
 9   TDD_HGPRC      object
 10  TDD_LWPRC      object
 11  ACC_TRDVOL     object
 12  ACC_TRDVAL     object
 13  MKTCAP         object
 14  LIST_SHRS      object
 15  MKT_ID         object
 16  trdDd          int64
dtypes: int64(1), object(16)
memory usage: 291.2+ MB

- ISU_SRT_CD: 종목코드
- ISU_ABBRV: 종목명
- MKT_NM: 시장구분
- SECT_TP_NM: 소속부
- TDD_CLSPRC: 종가
- FLUC_TP_CD: 방향 (1: 상승, 2: 하락)
- CMPPREVDD_PRC: 대비
- FLUC_RT: 등락률
- TDD_OPNPRC: 시가
- TDD_HGPRC: 고가
- TDD_LWPRC: 저가
- ACC_TRDVOL: 거래량
- ACC_TRDVAL: 거래대금
- MKTCAP: 시가총액
- LIST_SHRS: 상장주식수
- MKT_ID: 시장종류 
- trdDd: 날짜

## Preprocess

In [16]:
kospi_df = Preprocessor.comma_number_2_float(
    kospi_df, 
    columns=kospi_df.columns[4:15]
    )

In [17]:
kospi_df = Preprocessor.nullstr_2_nan(
    kospi_df,
    columns=kospi_df.columns[4:15],
    nullstr="-"
)

## lv2 conversion

### method 1: dataframe pivot 

(selected method)

In [19]:
mktcap_lv2_df = kospi_df.pivot(index="trdDd", columns="ISU_SRT_CD", values="MKTCAP")
mktcap_lv2_df

ISU_SRT_CD,000020,000030,000040,000050,000060,000070,000075,000080,000087,000100,...,381970,383220,383800,38380K,395400,900050,900140,950010,950100,950210
trdDd,,,,,,,,,,,,,,,,,,,,,
20150101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20150102,154461029100,6620765252090,124711741055,514036312500,1335133800000,769071535800,12451175100,1585019608600,20342484000,1884780274000,...,NaN,NaN,NaN,NaN,NaN,412322493600,907127176600,3314412930,427338000000,NaN
20150103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20150104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20150105,153623085000,6512560712730,125905154845,508553258500,1313941200000,759650837700,12299146100,1616579733550,19890428800,1873627728000,...,NaN,NaN,NaN,NaN,NaN,387799280775,899946750400,3314412930,427338000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20211027,458076108000,NaN,97098741680,364623091000,3558437500000,924941268000,21436089000,2507276593250,23789404900,4310334274400,...,1197354671700,6596478315000,693391472100,20513990000,1002982842040,NaN,335164350890,NaN,NaN,1508413490500
20211028,473438416500,NaN,99502175880,360510800500,3510187500000,894966319500,21223248400,2475716468300,23563377300,4254355907200,...,1204567651650,6688415295000,681949368600,20367461500,992131404800,NaN,333175244950,NaN,NaN,1496394259500
20211029,456679534500,NaN,99502175880,364623091000,3341312500000,882119913000,20949596200,2440649662800,23619884200,4191380244100,...,1178120058500,6650108220000,672795685800,20220933000,993681610120,NaN,332180691980,NaN,NaN,1448317335500
20211030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20211031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
mktcap_lv2_df = kospi_df.pivot(index="trdDd", columns="ISU_SRT_CD", values="MKTCAP")
mktcap_lv2_df

ISU_SRT_CD,000020,000030,000040,000050,000060,000070,000075,000080,000087,000100,...,381970,383220,383800,38380K,395400,900050,900140,950010,950100,950210
trdDd,,,,,,,,,,,,,,,,,,,,,
20150101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20150102,154461029100,6620765252090,124711741055,514036312500,1335133800000,769071535800,12451175100,1585019608600,20342484000,1884780274000,...,NaN,NaN,NaN,NaN,NaN,412322493600,907127176600,3314412930,427338000000,NaN
20150103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20150104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20150105,153623085000,6512560712730,125905154845,508553258500,1313941200000,759650837700,12299146100,1616579733550,19890428800,1873627728000,...,NaN,NaN,NaN,NaN,NaN,387799280775,899946750400,3314412930,427338000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20211027,458076108000,NaN,97098741680,364623091000,3558437500000,924941268000,21436089000,2507276593250,23789404900,4310334274400,...,1197354671700,6596478315000,693391472100,20513990000,1002982842040,NaN,335164350890,NaN,NaN,1508413490500
20211028,473438416500,NaN,99502175880,360510800500,3510187500000,894966319500,21223248400,2475716468300,23563377300,4254355907200,...,1204567651650,6688415295000,681949368600,20367461500,992131404800,NaN,333175244950,NaN,NaN,1496394259500
20211029,456679534500,NaN,99502175880,364623091000,3341312500000,882119913000,20949596200,2440649662800,23619884200,4191380244100,...,1178120058500,6650108220000,672795685800,20220933000,993681610120,NaN,332180691980,NaN,NaN,1448317335500
20211030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20211031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
mktcap_lv2_df = kospi_df.pivot(index="trdDd", columns="ISU_SRT_CD", values="MKTCAP")
mktcap_lv2_df

ISU_SRT_CD,000020,000030,000040,000050,000060,000070,000075,000080,000087,000100,...,381970,383220,383800,38380K,395400,900050,900140,950010,950100,950210
trdDd,,,,,,,,,,,,,,,,,,,,,
20150101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20150102,154461029100,6620765252090,124711741055,514036312500,1335133800000,769071535800,12451175100,1585019608600,20342484000,1884780274000,...,NaN,NaN,NaN,NaN,NaN,412322493600,907127176600,3314412930,427338000000,NaN
20150103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20150104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20150105,153623085000,6512560712730,125905154845,508553258500,1313941200000,759650837700,12299146100,1616579733550,19890428800,1873627728000,...,NaN,NaN,NaN,NaN,NaN,387799280775,899946750400,3314412930,427338000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20211027,458076108000,NaN,97098741680,364623091000,3558437500000,924941268000,21436089000,2507276593250,23789404900,4310334274400,...,1197354671700,6596478315000,693391472100,20513990000,1002982842040,NaN,335164350890,NaN,NaN,1508413490500
20211028,473438416500,NaN,99502175880,360510800500,3510187500000,894966319500,21223248400,2475716468300,23563377300,4254355907200,...,1204567651650,6688415295000,681949368600,20367461500,992131404800,NaN,333175244950,NaN,NaN,1496394259500
20211029,456679534500,NaN,99502175880,364623091000,3341312500000,882119913000,20949596200,2440649662800,23619884200,4191380244100,...,1178120058500,6650108220000,672795685800,20220933000,993681610120,NaN,332180691980,NaN,NaN,1448317335500
20211030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20211031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import FinanceDataReader as fdr

신라젠 20년도 초 거래중지

215600

근데 KRX-DELISTING, 상폐 리스트에는 없음.

In [ ]:
fdr.DataReader("215600") # 오늘까지

             Open   High    Low  Close    Volume    Change
Date
2016-12-06  13500  15050  12400  12850  13725568       NaN
2016-12-07  12750  13150  11750  11800   4291145 -0.081712
2016-12-08  11850  12300  10900  11200   4501845 -0.050847
2016-12-09  11350  12300  11250  11900   3958017  0.062500
2016-12-12  12150  12300  11450  11550   1711610 -0.029412
...           ...    ...    ...    ...       ...       ...
2021-11-26      0      0      0  12100         0  0.000000
2021-11-29      0      0      0  12100         0  0.000000
2021-11-30      0      0      0  12100         0  0.000000
2021-12-01      0      0      0  12100         0  0.000000
2021-12-02      0      0      0  12100         0  0.000000

[1227 rows x 6 columns]

In [ ]:
fdr.DataReader("087730") 
# 이게 진짜 상장폐지된 종목. 네이버 금융 검색창에는 검색도 안되지만, api를 통해서는 불러올 수 있다.

             Open   High    Low  Close   Volume    Change
Date
2008-04-04  23025  26460  19905  26475  2408666       NaN
2008-04-07  27390  29985  24990  24990  1771723 -0.056091
2008-04-08  24990  25560  21975  22350   511193 -0.105642
2008-04-10  22335  24000  21165  22020   340905 -0.014765
2008-04-11  22575  23760  22125  22290   321079  0.012262
...           ...    ...    ...    ...      ...       ...
2021-09-30    808    825    656    734  2324947 -0.184444
2021-10-01    615    615    465    486  2734005 -0.337875
2021-10-05    420    420    280    280  3235352 -0.423868
2021-10-06    234    234    169    190  3583038 -0.321429
2021-10-07    130    131    109    120  3309671 -0.368421

[3340 rows x 6 columns]